<!DOCTYPE html>
<html>
<head>
  <title>Student Management System</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Student Management System</h1>
  <hr>
  <%- body %>
</body>
</html>