body {
            font-family: Arial, sans-serif;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1000px;
        }

        .container {
            text-align: center;
            width: 400px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 30px;
        }

        label {
            font-size: 20px;
            display: block;
            text-align: left;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 12px;
            font-size: 18px;
            border-radius: 6px;
            border: 1px solid #ccc;
            margin-bottom: 25px;
        }

        button {
            width: 48%;
            padding: 15px;
            font-size: 22px;
            border: none;
            border-radius: 8px;
            color: white;
            cursor: pointer;
        }
        .deposit {
            background: blue;
        }

        .withdraw {
            background:red;
        }

        .error {
            margin-top: 25px;
            color: red;
            font-size: 22px;
            display: none;
        }