:root {
  --bg: #0f172a;
  --card: #1e293b;
  --border: #334155;
  --text: #ffffff;
  --warn: #facc15;
  --danger: #ef4444;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top, #1e293b, #020617);
}

.container {
  position: relative;
  width: 400px;
}
textarea {
  width: 100%;
  height: 140px;
  padding: 15px;
  border-radius: 12px;
  /* background-color: var(--card); */
  border: 1px solid var(--border);
  color: black;
  font-size: 16px;
  resize: none;
  outline: none;
}

textarea::placeholder {
  color: #94a3b8;
}
.counter {
  position: absolute;
  bottom: -30px;
  right: 10px;
  font-size: 14px;
  color: #cbd5f5;
}

.counter.warning {
  color: var(--warn);
}

.counter.danger {
  color: var(--danger);
}
